<div class="row ca">
<div class="col-lg-8">
  <div class="row">
   <div class="ui link cards col-lg-4"  *ngFor="let car of cars" >
    <ng-container *ngIf="car.state == true; else elseTemplate">
      <div class="card"  data-tooltip="fixed !" data-position="top center" >
          
               <div class="content">
                   <div class="header">
                      Matricule : {{car.mat}}
                     </div>
                     <div class="title">
                      Car Model:  {{car.model}}
                       </div>
                     <div class="meta">
                    USER CIN: {{ car.userCin}}
                     </div>
                     <div class="meta">
                      Price: {{ car.price}} DT
                       </div>
                     <div class="description">
                       {{car.descrip}}
                     </div>
               </div>
               <div class="extra content">
                   <button class="btn btn-outline-primary"
              (click)="operation = 'edit'; selectedCar = car;">Edit
           <i class="edit outline icon"></i>
                   </button>
 
                     
             
                   <button class="btn btn-outline-danger" (click)="operation= 'remove'; selectedCar = car;">Delete
                      <i class="remove circle icon"></i>
                   </button>
                    
           
                
               </div>
             </div>
    </ng-container>
    <ng-template #elseTemplate>
       <div class="card"  data-tooltip="In maintenance" data-position="top center" dara- >
          
        <div class="content">
          <div class="header">
             Matricule : {{car.mat}}
            </div>
            <div class="title">
             Car Model:  {{car.model}}
              </div>
            <div class="meta">
           USER CIN: {{ car.userCin}}
            </div>
            <div class="meta">
             Price: {{ car.price}} DT
              </div>
            <div class="description">
              {{car.details}}
            </div>
      </div>
           <div class="extra content">
               <button class="btn btn-outline-primary"
          (click)="operation = 'edit'; selectedCar = car;">Edit
       <i class="edit outline icon"></i>
               </button>

                 
         
               <button class="btn btn-outline-danger" (click)="operation= 'remove'; selectedCar = car;">Delete
                  <i class="remove circle icon"></i>
               </button>
                
       
            
           </div>
         </div>
    </ng-template>
    
           
       
       
      
         
         

       </div>
     </div>
 </div>

 <div class="col-lg-3 offset-lg-1">
    <button class="btn btn-success" (click)="opera()"><i class="fa fa-plus"></i> </button>
    <div class="card">
    
        <div class="card-header mainmenu-wrapper stricky menu-dark text-white">
            {{operation == 'add' ? 'Add Car' :
              operation == 'edit' ? 'Edit Car':
              operation == 'remove' ? 'Delete Car':'' }}
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'add' || operation == 'edit'">
             <form [formGroup]="CarForm">
                <div class="form-group">
                
          
                  <label> Car Matricule </label>
                  <input type="text" name="mat" class="form-control" formControlName="mat"  [(ngModel)]="selectedCar.mat" >
                
                </div>
             <div class="alert alert-danger" *ngIf="CarForm.controls['mat'].invalid &&
                 (CarForm.controls['mat'].touched || CarForm.controls['mat'].dirty)" > 
                You must enter the Matricule of the car !
                </div>
                <div class="form-group">
                    <label> Car Model </label>
                    <input type="text" name="model" class="form-control" formControlName="model"  [(ngModel)]="selectedCar.model" >
                  </div>
               <div class="alert alert-danger" *ngIf="CarForm.controls['model'].invalid &&
                 (CarForm.controls['model'].touched || CarForm.controls['model'].dirty)" > 
                You must enter the model of the car !
                </div>
  
  
                <div class="form-group">
                  <label> User Cin  </label>
                  <input type="number" name="userCin" class="form-control" formControlName="userCin" min="0" [(ngModel)]="selectedCar.userCin">
                </div>
                <div class="alert alert-danger" *ngIf="CarForm.controls['userCin'].invalid &&
                (CarForm.controls['userCin'].touched || CarForm.controls['userCin'].dirty)" > 
               You must enter the model of the car !
               </div>
                <div class="form-group">
                  <label> Price </label>
                  <input type="number"  step="any" name="price" class="form-control" min="0" formControlName="price" [(ngModel)]="selectedCar.price">
                </div>
             
                <div class="form-group">
                  <label> Car state </label>
                  <select [(ngModel)]="selectedCar.state" name="state" class="form-control" formControlName="state">
     
              <option value="true"  >Fixed</option>
         
            <option value="false" selected >Not Fixed</option>
       
                  

          </select>
        
        </div>




                <div class="form-group">
                  <label> Some Details </label>
                  <textarea type="text" class="form-control" name="details" formControlName="details" [(ngModel)]="selectedCar.details">
                  </textarea> 
                </div>
               
              <button class="btn btn-success" [disabled]="CarForm.prestine || CarForm.invalid"
              (click)="operation == 'add' ? addCar() : updateCar()">
              
              {{operation == 'add' ? 'Add Car' : operation == 'edit' ? 'Edit Car': ''}}
            </button>
            </form>
          </div>
      
              
      
  
            <div *ngIf="operation == 'remove'">
                <p class="card-title">
                    Car ID : {{selectedCar.id}}
                    for User Cin : {{selectedCar.userCin}}
                  
                  </p>
                  <p>
                    You want to delete this Car from you workstation ?
                  </p>
                    <button class="btn btn-success" [disabled]="!selectedCar.id" (click)="deleteCar()"> Confirme </button>
                  
            </div>
        </div>
        <div class="card-footer">
           
        </div>
    
    
    
    </div>
    
    </div>
</div>