<p>
  welcome-page works!
</p>
<section class="rev_slider_wrapper construct-banner-wrapper">
  <div id="slider1" class="rev_slider"  data-version="5.0">
      <ul>
          <li data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn">Contact Now</a>
              </div>
          </li>
          <li class="slide-2" data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-2.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn clrd">Contact Now</a>
              </div>
          </li>
          <li data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-3.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn">Contact Now</a>
              </div>
          </li>
      </ul>
  </div>
</section>  


<section class="comfort-section">
    <div class="auto-container clearfix">
        <div class="section-title">
            <h2>all for your comfort</h2>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
        </div>
        <div class="comfort-slide owl-carousel owl-theme owl-responsive-1000 owl-loaded">
            
            
            
            
            
            
            
            
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3665.75px, 0px, 0px); transition: all 0.5s ease 0s; width: 5332px;"><div class="owl-item cloned" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/1.png" alt="">
                </div>
                <div class="content center">more than 16 year <br>experience</div>
            </div></div><div class="owl-item cloned" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/2.png" alt="">
                </div>
                <div class="content center">guaranty <br>  for all service</div>
            </div></div><div class="owl-item cloned" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/3.png" alt="">
                </div>
                <div class="content center">parts <br>always in stok</div>
            </div></div><div class="owl-item cloned" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/4.png" alt="">
                </div>
                <div class="content center">free coffe <br>for customers</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/1.png" alt="">
                </div>
                <div class="content center">more than 16 year <br>experience</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/2.png" alt="">
                </div>
                <div class="content center">guaranty <br>for all service</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/3.png" alt="">
                </div>
                <div class="content center">parts <br>always in stok</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/4.png" alt="">
                </div>
                <div class="content center">free coffe <br>for customers</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/1.png" alt="">
                </div>
                <div class="content center">more than 16 year <br>experience</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/2.png" alt="">
                </div>
                <div class="content center">guaranty <br>  for all service</div>
            </div></div><div class="owl-item" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/3.png" alt="">
                </div>
                <div class="content center">parts <br>always in stok</div>
            </div></div><div class="owl-item active" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/4.png" alt="">
                </div>
                <div class="content center">free coffe <br>for customers</div>
            </div></div><div class="owl-item cloned active" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/1.png" alt="">
                </div>
                <div class="content center">more than 16 year <br>experience</div>
            </div></div><div class="owl-item cloned active" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/2.png" alt="">
                </div>
                <div class="content center">guaranty <br>for all service</div>
            </div></div><div class="owl-item cloned active" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/3.png" alt="">
                </div>
                <div class="content center">parts <br>always in stok</div>
            </div></div><div class="owl-item cloned" style="width: 170.25px; margin-right: 163px;"><div class="item">
                <div class="img-box">
                    <img src="images/resource/4.png" alt="">
                </div>
                <div class="content center">free coffe <br>for customers</div>
            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
    </div>
</section>