<section class="rev_slider_wrapper construct-banner-wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="fade">
                <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider.jpg"  alt="">
                <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="240" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="500" 
                    data-responsive_offset="on">
                    <span>FInd THe Best</span>
                </div>
                <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="303" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1000" 
                    data-responsive_offset="on">
                    <span>service for youR car</span>
                </div>
                <div class="tp-caption sfb tp-resizeme slider_p" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="380" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1500" 
                    data-responsive_offset="on">
                    We offer guaranteed upfront pricing and savings up to 30%
                </div>
                <div class="tp-caption sfb tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="440" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1800" 
                    data-responsive_offset="on">
                    <a href="#" class="slider-btn">Contact Now</a>
                </div>
            </li>
            <li class="slide-2" data-transition="fade">
                <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-2.jpg"  alt="">
                <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="240" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="500" 
                    data-responsive_offset="on">
                    <span>FInd THe Best</span>
                </div>
                <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="303" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1000" 
                    data-responsive_offset="on">
                    <span>service for youR car</span>
                </div>
                <div class="tp-caption sfb tp-resizeme slider_p" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="380" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1500" 
                    data-responsive_offset="on">
                    We offer guaranteed upfront pricing and savings up to 30%
                </div>
                <div class="tp-caption sfb tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="440" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1800" 
                    data-responsive_offset="on">
                    <a href="#" class="slider-btn clrd">Contact Now</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-3.jpg"  alt="">
                <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="240" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="500" 
                    data-responsive_offset="on">
                    <span>FInd THe Best</span>
                </div>
                <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="303" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1000" 
                    data-responsive_offset="on">
                    <span>service for youR car</span>
                </div>
                <div class="tp-caption sfb tp-resizeme slider_p" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="380" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1500" 
                    data-responsive_offset="on">
                    We offer guaranteed upfront pricing and savings up to 30%
                </div>
                <div class="tp-caption sfb tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="top" data-voffset="440" 
                    data-transform_idle="o:1;"  
                    data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                    data-transform_out="opacity:0;s:300;s:300;" 
                    data-start="1800" 
                    data-responsive_offset="on">
                    <a href="#" class="slider-btn">Contact Now</a>
                </div>
            </li>
        </ul>
    </div>
</section>  






<!-- informtable section -->

<!-- whychoose section -->
<section class="whychoose-section">
    <div class="auto-container clearfix">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        <span class="flaticon fa fa-battery-full" aria-hidden="true"></span>
                    </div>
                    <div class="column-title">
                        <h2>Battery and engine restore</h2>
                    </div>
                    <div class="content">
                        <p>All of our virtual professionals are highly experienced in the areas in which they work and have been through a thorough recruitment process.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        
                        <span class="flaticon fa fa-tint" aria-hidden="true" ></span>
                    </div>
                    <div class="column-title">
                        <h2>Car liquids replacement</h2>
                    </div>
                    <div class="content">
                        <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        <span class="flaticon fa fa-heart-o" aria-hidden="true"></span>
                    </div>
                    <div class="column-title">
                        <h2>Yearly weather inspection</h2>
                    </div>
                    <div class="content">
                        <p>We will put together a detailed and specific style guide that covers all areas of your brand to ensurhat anything produced in the future is on brand.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        <span class="flaticon fa fa-battery-full" aria-hidden="true"></span>
                    </div>
                    <div class="column-title">
                        <h2>Electric car loading</h2>
                    </div>
                    <div class="content">
                        <p>All of our virtual professionals are highly experienced in the areas in which they work and have been through a thorough recruitment process.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        <span class="flaticon fa fa-tint" aria-hidden="true" ></span>
                    </div>
                    <div class="column-title">
                        <h2>Restart and repair service  </h2>
                    </div>
                    <div class="content">
                        <p>Using the outcomes from the Company Analysis, we will put together a plan for the most effective marketing strategy to get the best results.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item center">
                    <div class="icon-box">
                        <span class="flaticon fa fa-heart-o" aria-hidden="true"></span>
                    </div>
                    <div class="column-title">
                        <h2>Speed and engine testing  </h2>
                    </div>
                    <div class="content">
                        <p>We will put together a detailed and specific style guide that covers all areas of your brand to ensure that anything produced in the future is on brand.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- about section -->
<section class="about-section">
    <div class="auto-container clearfix">
        <div class="section-title">
            <h2 class="whyy">why choose us</h2>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pb-15">
                <div class="single-item left">
                    <div class="content">
                        <h4>integrity</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>
                <div class="single-item left">
                    <div class="content">
                        <h4>collaboration</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>
                <div class="single-item left">
                    <div class="content">
                        <h4>result orientation</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-box">
                    <div class="inner-box">
                        <img src="http://world5.commonsupport.com/html/total-car/images/about/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pb-15">
                <div class="single-item right">
                    <div class="content">
                        <h4>respect</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>
                <div class="single-item right">
                    <div class="content">
                        <h4>ennovation</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>
                <div class="single-item right">
                    <div class="content">
                        <h4>experienced</h4>
                        <p>Vestibulum laoreet libero vitae semper vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- default section -->
<section class="default-section">
    <div class="auto-container clearfix">
        <div class="section-title">
            <h2 class="whyy">how we work</h2>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="column-title">
                        <h2 class="whyy">Enter Vehicle & Repair Info</h2>
                    </div>
                    <div class="content">
                        <p>Tell us what kind of car you have and what needs fixing</p>
                    </div>
                    <div class="count">01</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="column-title">
                        <h2 class="whyy">Compare Trusted Shops</h2>
                    </div>
                    <div class="content">
                        <p>Tell us what kind of car you have and what needs fixing</p>
                    </div>
                    <div class="count">02</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="column-title">
                        <h2 class="whyy">Book Online</h2>
                    </div>
                    <div class="content">
                        <p>Tell us what kind of car you have and what needs fixing</p>
                    </div>
                    <div class="count">03</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="column-title">
                        <h2 class="whyy">Pay at the Shop</h2>
                    </div>
                    <div class="content">
                        <p>Tell us what kind of car you have and what needs fixing</p>
                    </div>
                    <div class="count">04</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- bkooking-secton -->
<section class="booking-section">
    <div class="overly">
        <div class="auto-container clearfix">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Why not get your MOT <br>done with us?</h2>
                        <h5>Only £19 with a service or £24 without a service. <br>Free nationwide collection and delivery.</h5>
                    </div>
                    <a href="#">book now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section -->
<section class="testimonial-section">
    <div class="auto-container clearfix">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="testimonial">
                    <div class="testimonial-slide">
                        <div class="item">
                            <span class="icon">“</span>
                            <h5>They were upfront and honest about everything and let me know what needed to done with out up selling me anything which was appreciated.</h5>
                            <h4>cosima mielke</h4>
                        </div>
                        <div class="item">
                            <span class="icon">“</span>
                            <h5>They were upfront and honest about everything and let me know what needed to done with out up selling me anything which was appreciated.</h5>
                            <h4>cosima mielke</h4>
                        </div>
                        <div class="item">
                            <span class="icon">“</span>
                            <h5>They were upfront and honest about everything and let me know what needed to done with out up selling me anything which was appreciated.</h5>
                            <h4>cosima mielke</h4>
                        </div>
                        <div class="item">
                            <span class="icon">“</span>
                            <h5>They were upfront and honest about everything and let me know what needed to done with out up selling me anything which was appreciated.</h5>
                            <h4>cosima mielke</h4>
                        </div>

                    </div>
                    <div class="outslide">
                        <div id="slider-next"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="content">
                    <h2>We delliver high quality services</h2>
                    <p>Total Car Services is a small family owned business that has been operating for over 16 years. The success of our business within the years has been reflected amongst our professionalism in the automotive industry and honesty towards our clientele.</p>
                    <p>Our team are fully experienced and qualified mechanics that are very knowledgeable in most makes and models.</p>
                    <p>Our aim is to provide our customers with consistent affordable pricing and a 5 Star exceptional service.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- comfort section -->

<!-- contactus section -->


