<p>
  welcome-page works!
</p>
<section class="rev_slider_wrapper construct-banner-wrapper">
  <div id="slider1" class="rev_slider"  data-version="5.0">
      <ul>
          <li data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn">Contact Now</a>
              </div>
          </li>
          <li class="slide-2" data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-2.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="left" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn clrd">Contact Now</a>
              </div>
          </li>
          <li data-transition="fade">
              <img src="http://world5.commonsupport.com/html/total-car/images/home-v1-slider/slider-3.jpg"  alt="">
              <div class="tp-caption sfl tp-resizeme slider_h1 curvy-bg black" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="240" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="500" 
                  data-responsive_offset="on">
                  <span>FInd THe Best</span>
              </div>
              <div class="tp-caption sfr tp-resizeme slider_h1 curvy-bg white bold" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="303" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1000" 
                  data-responsive_offset="on">
                  <span>service for youR car</span>
              </div>
              <div class="tp-caption sfb tp-resizeme slider_p" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="380" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1500" 
                  data-responsive_offset="on">
                  We offer guaranteed upfront pricing and savings up to 30%
              </div>
              <div class="tp-caption sfb tp-resizeme" 
                  data-x="center" data-hoffset="0" 
                  data-y="top" data-voffset="440" 
                  data-transform_idle="o:1;"  
                  data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" 
                  data-transform_out="opacity:0;s:300;s:300;" 
                  data-start="1800" 
                  data-responsive_offset="on">
                  <a href="#" class="slider-btn">Contact Now</a>
              </div>
          </li>
      </ul>
  </div>
</section>  