<header class="header header-vone">
  <div class="container">
      <div class="logo pull-left">
          <a href="index.html"><img src="../../assets/images/carlogo.png" alt="Awesome Image"/></a>
      </div>
      <div class="top-infos pull-right">
          <ul class="list-inline">
              <li>
                  <div class="icon-box">
                      <i class="fa fa-phone"></i>
                  </div>
                  <div class="text-box">
                      <h4>Call us now</h4>
                      <p>+61 3 8376 6284</p>
                  </div>
              </li>
              <li>
                  <div class="icon-box">
                      <i class="fa fa-clock-o"></i>
                  </div>
                  <div class="text-box">
                      <h4>Opening Hours </h4>
                      <p>Mon- Sat : 6 am - 8 pm</p>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</header>



<div class="mainmenu-wrapper stricky menu-dark">
  <div class="container">
      <nav class="mainmenu-area pull-left">
          <div class="navbar" role="navigation">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  
              </div>
                <!-- Main menu aea -->
              <div class="navbar-collapse collapse text-center">  
                  <ul>
                      <li >
                          <a class="nav-link" [routerLink]="[{outlets:{contentOutlet:'wlc'}}]"routerLinkActive="router-link-active"  >Home</a>
                         
                      </li>
                      <li >
                          <a  class="nav-link" [routerLink]="[{outlets:{contentOutlet:'contact'}}]" routerLinkActive="router-link-active">Contat Us</a>
                          
                      </li>
                      <li >
                          <a class="nav-link" [routerLink]="[{outlets:{contentOutlet:'dashboard'}}]" routerLinkActive="router-link-active">Statics</a>
                          
                      </li>
                     
                      
                      
                      <li>
                          <a  class="nav-link" [routerLink]="[{outlets:{contentOutlet:'car'}}]" routerLinkActive="router-link-active" >Cars</a>
                      </li>
                      <li>   <a  class="nav-link"  [routerLink]="[{outlets:{contentOutlet:'product'}}]" routerLinkActive="router-link-active"  >Product</a></li>
                  
                      <li *ngIf="!iflogin()" >
                        <a [routerLink]="['//login']"   (click)="logout()">Log Out</a>
                      </li>
 
                    </ul> 
              </div> 
          </div>
      </nav> <!-- /.mainmenu-area -->
      <div class="social pull-right">
          <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
  </div>
</div>
<!-- Main Slider -->
