<div class="page-wrapper">
    <router-outlet ></router-outlet>
    <section class="footer-section">
            <div class="overly">
                <div class="auto-container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <div class="column-title">
                                    <h2>about us</h2>
                                </div>
                                <div class="content">
                                    <p>Praesent massa felis, mattis et tempor non, condimentum vel lectus. in turpis leo. vestibulum a sagittis iaculis convallis sit amet purus. sed lacinia elit in dui imperdiet pottitor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <div class="column-title">
                                    <h2>car service</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Audi service</a></li>
                                        <li><a href="#">BMW servicve</a></li>
                                        <li><a href="#">Citroen service</a></li>
                                        <li><a href="#">Daewoo service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <div class="column-title">
                                    <h2>useful information</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">MOT</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">How it works</a></li>
                                        <li><a href="#">FAQ's</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-widget">
                                <div class="column-title">
                                    <h2>useful searches</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Car MOT</a></li>
                                        <li><a href="#">Car repair</a></li>
                                        <li><a href="#">Car parts</a></li>
                                        <li><a href="#">Car servicing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
    
                    </div>
                    <div class="footer-bottom clearfix">
                        <div class="copy-right pull-left">
                            <p>© 2016 All Rights Reserved</p>
                        </div>
                        <div class="pull-right">
                            <ul class="clearfix">
                               <li><a href="#" class="fa fa-facebook"></a></li>
                               <li><a href="#" class="fa fa-twitter"></a></li>
                               <li><a href="#" class="fa fa-instagram"></a></li>
                               <li><a href="#" class="fa fa-linkedin"></a></li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>