<nav class="hidden-xs-down bg-faded sidebar">

  <ul class="nav nav-pills flex-column">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" > <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Dashboard </a>
      </li>
      <li class="nav-item">
              <a class="nav-link" [routerLink]="['/car']" routerLinkActive="active"  > <i class="fa fa-car" aria-hidden="true"></i> Cars</a>
      </li>
  
      
  </ul>
  <ul class="nav nav-pills flex-column">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/product']" routerLinkActive="active"  ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Products</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="#" onclick="return false;"> <i class="fa fa-cog fa-spin fa-3x fa-fw" style="font-size:17px"></i>
                      Settings </a>
              </li>
      
      </ul>
  </nav>