<div class="row"> 
  <div class="col-lg-8">
     <div class="row">
      <div class="ui link cards col-lg-4"  *ngFor="let prod of products" >
       <ng-container *ngIf="prod.quantity > 0; else elseTemplate">
         <div class="card"  data-tooltip="Still in stock !" data-position="top center" >
             
                  <div class="content">
                      <div class="header">
                         Ref : {{prod.ref}}
                        </div>
                        <div class="title">
                         Product Name:  {{prod.pname}}
                          </div>
                        <div class="meta">
                        Quantity in stock: {{ prod.quantity}}
                        </div>
                        <div class="meta">
                         Price: {{ prod.price}} DT
                          </div>
                        <div class="description">
                          {{prod.descrip}}
                        </div>
                  </div>
                  <div class="extra content">
                      <button class="btn btn-outline-primary"
                 (click)="operation = 'edit'; selectedProd = prod;">Edit
              <i class="edit outline icon"></i>
                      </button>
    
                        
                
                      <button class="btn btn-outline-danger" (click)="operation= 'remove'; selectedProd = prod;">Delete
                         <i class="remove circle icon"></i>
                      </button>
                       
              
                   
                  </div>
                </div>
       </ng-container>
       <ng-template #elseTemplate>
          <div class="card"  data-tooltip="Out of stock !" data-position="top center" >
             
              <div class="content">
                  <div class="header">
                     Ref : {{prod.ref}}
                    </div>
                    <div class="title">
                     Product Name:  {{prod.pname}}
                      </div>
                    <div class="meta">
                    Quantity in stock: {{ prod.quantity}}
                    </div>
                    <div class="meta">
                     Price: {{ prod.price}} DT
                      </div>
                    <div class="description">
                      {{prod.descrip}}
                    </div>
              </div>
              <div class="extra content">
                  <button class="btn btn-outline-primary"
             (click)="operation = 'edit'; selectedProd = prod;">Edit
          <i class="edit outline icon"></i>
                  </button>

                    
            
                  <button class="btn btn-outline-danger" (click)="operation= 'remove'; selectedProd = prod;">Delete
                     <i class="remove circle icon"></i>
                  </button>
                   
          
               
              </div>
            </div>
       </ng-template>
       
              
          
          
         
            
            

          </div>
        </div>
    </div>
  <div class="col-lg-3 offset-lg-1">
  <div class="card">
  
      <div class="card-header bg-info text-white">
          {{operation == 'add' ? 'Add Prodcut' :
            operation == 'edit' ? 'Edit Prodcut':
            operation == 'remove' ? 'Delete Prodcut':'' }}
      </div>
      <div class="card-body">
        <div *ngIf="operation == 'add' || operation == 'edit'">
           <form [formGroup]="ProductForm">
              <div class="form-group">
                <label> Reef Name </label>
                <input type="text" name="ref" class="form-control" formControlName="ref"  [(ngModel)]="selectedProd.ref" >
              </div>
              <div class="alert alert-danger" *ngIf="ProductForm.controls['ref'].invalid &&
               (ProductForm.controls['ref'].touched || ProductForm.controls['ref'].dirty)" > 
              You must enter the category of the product !
              </div>
              <div class="form-group">
                  <label> Product Name </label>
                  <input type="text" name="pname" class="form-control" formControlName="pname"  [(ngModel)]="selectedProd.pname" >
                </div>
                <div class="alert alert-danger" *ngIf="ProductForm.controls['pname'].invalid &&
               (ProductForm.controls['pname'].touched || ProductForm.controls['pname'].dirty)" > 
              You must enter the name of the product !
              </div>


              <div class="form-group">
                <label> Quantity in stock  </label>
                <input type="number" name="quantity" class="form-control" formControlName="quantity" min="0" [(ngModel)]="selectedProd.quantity">
              </div>
             
              <div class="form-group">
                <label> Price </label>
                <input type="number"  step="any" name="price" class="form-control" min="0" formControlName="price" [(ngModel)]="selectedProd.price">
              </div>
           
              <div class="form-group">
                <label> Some Details </label>
                <textarea type="text" class="form-control" name="descrip" formControlName="descrip" [(ngModel)]="selectedProd.descrip">
                </textarea> 
              </div>
              <button class="btn btn-success" [disabled]="ProductForm.prestine || ProductForm.invalid"
              (click)="operation == 'add' ? addProduct() : updateProduct()">
              
              {{operation == 'add' ? 'Add Prodcut' : operation == 'edit' ? 'Edit Prodcut': ''}}
            </button>
          </form>
        </div>
    
            
    

          <div *ngIf="operation == 'remove'">
              <p class="card-title">
                  Product ID : {{selectedProd.id}}
                
                </p>
                <p>
                  You want to delete this product ?
                </p>
                  <button class="btn btn-success" [disabled]="!selectedProd.id" (click)="deleteProduct()"> Confirme </button>
                
          </div>
      </div>
      <div class="card-footer">
         
      </div>
  
  
  
  </div>
  
  </div>
  </div>
  <div class="row">
     
         
 <button class="btn btn-primary" (click)="popUp()">show</button>

<div class="ui modal">
    <div class="ui cards">
      <div class="card">
        <div class="content">
          
          <div class="header">
            Elliot Fu
          </div>
          <div class="meta">
            Friends of Veronika
          </div>
          <div class="description">
            Elliot requested permission to view your contact details
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic green button">Approve</div>
            <div class="ui basic red button">Decline</div>
          </div>
        </div>
      </div>
      </div>
    </div>
        
    
  </div>